*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.navbar a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
}

.container {
    z-index: 999;
    max-width: 100px;
    position: absolute;
    top: 15px;
    right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fcfcfc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 238, 0);
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
    background-color: #e9eff4;
}

[data-theme='dark'] {
    height: 100%;
    --bg-color: linear-gradient(135deg,#000000,#0E0F16,#171C44);
    --text-color: #fff;
}
[data-theme='light'] {
    height: 100%;
    --bg-color: linear-gradient(135deg,#EF8383,#C98956,#BBEF26); 
    --text-color: #333; 
}

.img-container {
    width: 400px; /* Atur lebar dan tinggi container sesuai kebutuhan */
    height: 400px;
    perspective: 10px; 
    top: 230px;
    right: 250px;
    position: absolute;
}

.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.circle{
    position: absolute;
    width: 500px;
    height: 500px;
    /* background-color: #e9eff4; */
    border-radius: 50%;
    display: flex;
    top: 183px;
    right: 203px;
}

.text {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: anim 20s linear infinite;
    font-family: consolas;
}

@keyframes anim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.text span{
    position: absolute;
    left: 50%;
    font-size: 2em;
    transform-origin: 0 250px;
}
